body {
    background-color: #222;
    font-size: 14px;
    color: #DDD;
}

div.output {
    padding: 0;
    width: 100%;
    text-align: center;
}

div.output canvas {
    margin: 0;
    image-rendering: pixelated;
    width: 960px;
}

.menu {
    padding: 0.2em;
}

.menu .index {
    float: left;
}

.menu .title {
    float: left;
    padding: 0.2em 0.2em 0.2em 2em;
}

.menu .stop {
    clear: both;
}

.menu div.steam-card {
    margin: 2em;
    float: left;
}